@namespace codeXpert.Theme.SideBar
@using Oqtane.Themes.Controls
@inherits LoginBase
@inject IStringLocalizer<Login> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer


<AuthorizeView Roles="@RoleNames.Registered">
    <Authorizing>
        <text>...</text>
    </Authorizing>
    <Authorized>
        @if (PageState.Runtime == Runtime.Hybrid)
        {
            <button type="button" class="btn btn-default btn-link float-end" @onclick="LogoutUser">@Localizer["Logout"]</button>
        }
        else
        {
            <form method="post" class="d-inline" action="@logouturl" @formname="LogoutForm">
                <input type="hidden" name="@Constants.RequestVerificationToken" value="@SiteState.AntiForgeryToken" />
                <input type="hidden" name="returnurl" value="@returnurl" />
                <button type="submit" class="btn btn-default float-end">@Localizer["Logout"]</button>
            </form>
        }
    </Authorized>
    <NotAuthorized>
        @if (ShowLogin)
        {
            <a href="@loginurl" class="btn btn-default btn-outline-primary btn-flat">@SharedLocalizer["Login"]</a>
        }
    </NotAuthorized>
</AuthorizeView>

@code
{
    [Parameter]
    public bool ShowLogin { get; set; } = true;
}